@model GreatTrade.Models.Context.GreatTradeContext

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

}

<body>

    <section class="section single-wrap">
        <div class="container">
            <div class="page-title">
                <div class="row">
                    <div class="col-sx-12 text-center">
                        <h3>Login</h3>

                    </div>
                </div>
            </div>

            <div class="content-top">
                <div class="row">
                    <div class="col-sx-6 col-sm-6">
                        <div class="custommenu hidden-xs">
                            <a id="showLeft" href="#" title="" class="bt-menu-trigger"><i class="fa fa-bars"></i> <img src="~/lib/theme/upload/fav.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 cen-xs text-right">
                        <ul class="list-inline social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end row -->
            </div><!-- end content top -->



            <div class="content boxs">
                <div class="row">

                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="widget-title">
                                        <h4>Ingresa a GreatTrade</h4>
                                    </div><!-- end widget-title -->

                                    <div class="login-form">
                                        <form method="post" action="Home/Index">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" name="email" required class="form-control" placeholder="" />
                                                <span class="fa fa-user"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Contraseña</label>
                                                <input type="password" name="password" required class="form-control" placeholder="" />
                                                <span class="fa fa-lock"></span>
                                            </div>
                                            <button type="submit" name="go" class="btn btn-primary">Ingresar</button>
                                        </form>
                                    </div><!-- end login-form -->
                                </div><!-- end widget -->
                            </div><!-- end col -->


                        </div><!-- end row -->
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->

        <br>

        <div class="content-message boxs">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2>See why over 10,000 designers and developers trust Catalog. Ready to take your marketplace to the next level?</h2>
                    <a href="#" class="btn btn-default btn-lg">Join Today</a>
                </div>
            </div><!-- end row -->
        </div><!-- end content message -->
      
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="media cen-xs">
                        <p>
                            &copy; Catalog INC. 2016 - All Rights Reserverd.<br>
                            Idea by <a class="madeby" href="http://showwp.com">Show WP</a> made with <i class="fa fa-heart"></i> coded with <i class="fa fa-html5"></i>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <ul class="list-inline text-right cen-xs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Site Terms</a></li>
                        <li><a href="#">Copyrights</a></li>
                        <li><a href="#">License</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a class="topbutton" href="#">Back to top <i class="fa fa-angle-up"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->
    
    <!-- END SITE -->

    
</body>

