@model IQueryable<IGrouping<GreatTrade.Models.Enum.TypeCountries, GreatTrade.Models.User>>
@{
    ViewData["Title"] = "Ranking";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<h2>Index</h2>

<section class="section single-wrap">
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <h3>Ranking de ventas</h3>
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Forum</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-top">
            <div class="row">
                <div class="col-sx-6 col-sm-6">
                    <div class="custommenu hidden-xs">
                        <a id="showLeft" href="#" title="" class="bt-menu-trigger"><i class="fa fa-bars"></i> <img src="upload/fav.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 cen-xs text-right">
                    <ul class="list-inline social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end content top -->
        <div class="content-before">
            <div class="row">
                <div class="col-md-12 col-sx-12 cen-xs">
                    <form class="dropForm">
                        <div class="input-prepend">
                            <div class="btn-group">
                                <select name="orderby" class="selectpicker">
                                    <option>All Platforms</option>
                                    <option>IOS Apps</option>
                                    <option>Android Apps</option>
                                    <option>UI Kits</option>
                                    <option>Site Templates</option>
                                    <option>WordPress Themes</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" placeholder="Search anything here.">
                            <button class="btn btn-primary" tabindex="-1"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right hidden-xs">

                </div>
            </div><!-- end row -->
        </div><!-- end content before -->
        <div class="content boxs">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="page-content">
                        <div id="bbpress-forums">
                            <div class="table-responsive">
                                <ul class="bbp-forums">


                                    <li class="bbp-body">
                                        <ul class="forum type-forum status-publish hentry loop-item-0 odd bbp-forum-status-open bbp-forum-visibility-publish">
                                            <table class="table table-striped">
                                                <caption> Ranking de ventas globers</caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Posición</th>
                                                        <th scope="col">Nombre</th>
                                                        <th scope="col">Pais</th>
                                                        <th scope="col">Ventas</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach(var item in Model)
                                                    {
                                                    <tr>
                                                        <th scope="row">@ViewData["count"]</th>
                                                        <td>@item.FirstOrDefault().FullName()</td>
                                                        <td>@item.FirstOrDefault().Country</td>
                                                        <td>
                                                            @if (item.FirstOrDefault().SalesTransactions != null)
                                                            {
                                                                @item.FirstOrDefault().SalesTransactions.Count()
                                                            }
                                                        </td>
                                                    </tr>


                                                     }
                                                    </tbody>
                                            </table>

                                        </ul><!-- end bbp forums -->
                                    </li>
                                </ul><!-- .forums-directory -->
                            </div>
                        </div> <!-- /bbpress -->
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end content -->
    </div>
</section>

