@model GreatTrade.Models.User

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<<<<<<< HEAD
<section class="section single-wrap">
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <h3>Edit Account</h3>
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="active">Edit Account</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
@*<h2>Edit</h2>

<h4>User</h4>
<hr />*@

=======
>>>>>>> 8783d88b9560a24da95943f4dd741135506eac37

        <div class="content boxs">
            <div class="row">

                <div class="col-md-12">
                    <div class="widget-title">
                        <h4>Account Details</h4>
                    </div><!-- end widget-title -->

                    <div class="row">
                        <form asp-action="Edit">
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Country" class="control-label"></label>
                                <select asp-items="Html.GetEnumSelectList<GreatTrade.Models.Enum.TypeCountries>()" asp-for="Country" class="form-control"></select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Role" class="control-label"></label>
                                <select asp-items="Html.GetEnumSelectList<GreatTrade.Models.Enum.TypeRoles>()" asp-for="Role" class="form-control"></select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>
                      
                            <div class="form-group">
                                <label asp-for="CityId" class="control-label"></label>
                                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

            </div><!-- end row -->

        </div><!-- end content -->
        <br>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
