@model GreatTrade.Models.Alert

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/ProfileLayOut.cshtml";
}

<h2>Create</h2>

<h4>Alert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label>
                <input asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodicity" class="control-label"></label>
                <input asp-for="Periodicity" class="form-control" />
                <span asp-validation-for="Periodicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelatedCities" class="control-label"></label>
                <input asp-for="RelatedCities" class="form-control" />
                <span asp-validation-for="RelatedCities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

