@model GreatTrade.Models.Profile

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}



<section class="section single-wrap">
    <div class="container">
        <div class="page-title">
            <div class="row">
                <div class="col-sx-12 text-center">
                    <h3>Edit Account</h3>
                    <div class="bread">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="active">Edit Account</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content boxs">
            <div class="row">
                <form asp-action="Edit">

                    <div class="col-md-8">
                        <div class="widget-title">
                            <h4>Profile Details</h4>
                        </div><!-- end widget-title -->

                        <div class="row">
                            <div class="col-md-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div style="display:none;" class="form-group">
                                    <label asp-for="UserId" class="control-label"></label>
                                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Interests" class="control-label"></label>
                                    <textarea asp-for="Interests" class="form-control"></textarea>
                                    <span asp-validation-for="Interests" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Avatar" class="control-label"></label>
                                    <input asp-for="Avatar" class="form-control" />
                                    <span asp-validation-for="Avatar" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget-title">
                            <h4>Social Profiles</h4>
                        </div><!-- end widget-title -->
                        <div class="form-group">
                            <label asp-for="Facebook" class="control-label"></label>
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Twitter" class="control-label"></label>
                            <input asp-for="Twitter" class="form-control" />
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Instagram" class="control-label"></label>
                            <input asp-for="Instagram" class="form-control" />
                            <span asp-validation-for="Instagram" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                    </div><!-- end col -->
                    <div class="form-groupa text-center">
                        <input style="margin-top:30px" type="submit" value="Save" class="text-center btn btn-default" />
                    </div>
                </form>

            </div><!-- end row -->

        </div><!-- end content -->
        <br>
        
    </div><!-- end container -->
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
